<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nesoft.EMPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Nesoft.EMPI.Properties.Settings>
      <setting name="Nesoft_EMPI_EMPIWebReference_EMPI" serializeAs="String">
        <value>http://172.16.61.105:85/empi/EMPI</value>
      </setting>
      <setting name="Nesoft_EMPI_HisPushServer_HISPushPatientInfoService"
        serializeAs="String">
        <value>http://172.16.61.105:8081/HIP/ws/HISPushPatientInfoService</value>
      </setting>
      <setting name="Nesoft_EMPI_undrug_WEBESPort" serializeAs="String">
        <value>http://172.16.61.105:81/HSB/WEBESPort</value>
      </setting>
    </Nesoft.EMPI.Properties.Settings>
  </applicationSettings>
</configuration>