<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Neusoft.HISFC.Components.OutpatientFee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.Win.Spread.Design" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3526.2008" newVersion="4.0.3526.2008"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.Win" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3526.2008" newVersion="4.0.3526.2008"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.Excel" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3526.2008" newVersion="4.0.3526.2008"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.Win.Spread" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3526.2008" newVersion="4.0.3526.2008"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.PluginCalendar.WinForms" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3526.2008" newVersion="4.0.3526.2008"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.CalcEngine" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3526.2008" newVersion="4.0.3526.2008"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <Neusoft.HISFC.Components.OutpatientFee.Properties.Settings>
   <setting name="HISFC_Components_OutpatientFee_GHpayService_Service"
    serializeAs="String">
    <value>http://172.16.64.68:8050/Service.asmx</value>
   </setting>
  </Neusoft.HISFC.Components.OutpatientFee.Properties.Settings>
 </applicationSettings>
</configuration>
